<?php

$this->appendFile('/js/jquery/jquery.datetimepicker.full.js');
$this->appendFile('/js/form-data.js');
$this->appendScript('
       $(function() {
            $.datetimepicker.setLocale(\'ru\');
            $("#date").datetimepicker({format:\'d.m.Y H:m\'});
             
     });
     
     $(".get-form-data").submit(function(event){
        event.preventDefault();
        SendFormData.prototype.$nodeForm = $(this);
        SendFormData.prototype.$nodeMessage = \'.response\';
        SendFormData.prototype.$url = "/date";
        SendFormData.prototype.ajaxSend();
    });
');

?>
<header class="bg-primary text-white">
    <div class="container text-center">
        <h1><?= $this->header ?></h1>
    </div>
</header>

<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 mx-auto">
                <form class="form-control get-form-data" action="" method="post">
                    <label class="col-form-label-lg"> Введите дату: <br>
                        <input id="date" class="input-group-sm emailInput" type="text" value="" name="date">
                    </label>
                    <input type="submit" class="btn btn-primary emailBtn">
                </form>
                <p class="response hidden"></p>
            </div>
        </div>
    </div>
</section>


