<?php
$this->appendFile('/js/jquery/jquery.maskedinput.js');
$this->appendFile('/js/form-data.js');
$this->appendScript('
       $(function() {          
             //$(".card").mask("9999");
        });
      $(".get-form-data").submit(function(event){
        event.preventDefault();
        SendFormData.prototype.$nodeForm = $(this);
        SendFormData.prototype.$nodeMessage = \'.response\';
        SendFormData.prototype.$url = "/exponentiation";
        SendFormData.prototype.ajaxSend();
    });
');

?>
<header class="bg-primary text-white">
    <div class="container text-center">
        <h1><?= $this->header ?></h1>
    </div>
</header>

<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 mx-auto">
                <form class="form-control get-form-data" action="" method="post">
                    <label class="col-form-label-lg"> Введите число: <br><input class="input-group-sm value" type="number"  value="" min="1" name="value"></label><br>
                    <label class="col-form-label-lg"> Сколько раз возводим? <br><input class="input-group-sm count" type="number"  value="" min="0" name="count"></label>
                    <input type="submit" class="btn btn-primary four emailBtn">
                </form>
                <p class="response hidden"></p>
            </div>
        </div>
    </div>
</section>


