<?php
$this->appendFile('/js/form-data.js');
$this->appendScript('     
      $(".get-form-data").submit(function(event){
        event.preventDefault();
        SendFormData.prototype.$nodeForm = $(this);
        SendFormData.prototype.$nodeTable = \'.table tbody\';
        SendFormData.prototype.$nodeMessage = \'.response\';
        SendFormData.prototype.$url = "/page";
        SendFormData.prototype.ajaxSend();
    });
');

?>
<header class="bg-primary text-white">
    <div class="container text-center">
        <h1><?= $this->header ?></h1>
    </div>
</header>

<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-19 mx-auto">
                <form class="form-control get-form-data" action="" method="post">
                    <label class="col-form-label-lg"> Введите номер страницы: <br>
                        <input  class="input-group-sm" type="text" value="" name="page">
                     </label>
                    <label class="col-form-label-lg"> Поиск по title и keywords: <br>
                        <input  class="input-group-sm" type="text" value="" name="query">
                    </label>
                    <br>
                    <input type="submit" class="btn btn-primary four emailBtn">
                </form>
                <p class="response hidden"></p>
                <table class="table">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>title</th>
                            <th>keywords</th>
                        </tr>
                    </thead>
                    <tbody>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
