<?php
$this->appendFile('/js/form-data.js');
$this->appendScript('     
      $(".get-form-data").submit(function(event){
        event.preventDefault();
        SendFormData.prototype.$nodeForm = $(this);
        SendFormData.prototype.$nodeMessage = \'.response\';
        SendFormData.prototype.$url = "/rsa";
        SendFormData.prototype.ajaxSend();
    });
');

?>
<header class="bg-primary text-white">
    <div class="container text-center">
        <h1><?= $this->header ?></h1>
    </div>
</header>

<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-19 mx-auto">
                <form class="form-control get-form-data" action="" method="post">
                    <label class="col-form-label-lg"> Вставьте json объект ввиде строки с целочисленными значениями для сортировки: <br>
                        <textarea class="input-group-sm value" name="json" rows="5" cols="80"  >[{"foo1":1,"foo2":13,"foo3":2,"foo4":3,"foo5":4,"foo6":21,"foo7":5}]</textarea>
                    </label>
                    <br>
                    <input type="submit" class="btn btn-primary four emailBtn">
                </form>
                <p class="response hidden"></p>
            </div>
        </div>
    </div>
</section>
