.hidden {
  display : none;
}

.error{
  color:red;
  font-weight: bold;
}

.success{
  color:green;
  font-weight: bold;
}
.card{
width: calc(95% / 4);
  display: inline;
  margin-bottom: 30px;
  text-align: center;
}

.value1{
  width: 140px;
  display: inline;
}
.input-group-sm{
  height: 38px;
  width: 100%;
  position: relative;
  top: 3px;
  padding-left: 10px;
}
.emailInput{
  width: 100%;
}
label{
  width: 100%;
}

.emailBtn{
  margin: 0 auto;
  display: block;
}