<?php
$title = isset($this->title) ? $this->title : 'Application'
?>
<!DOCTYPE html>
<html lang="ru">
    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">

        <title><?= $title ?></title>

        <link href="/css/bootstrap.min.css" rel="stylesheet">
        <link href="/css/style.css" rel="stylesheet">

        <link href="/css/scrolling-nav.css" rel="stylesheet">
        <link href="/css/jquery.datetimepicker.min.css" rel="stylesheet">

    </head>
    <body id="page-top">

        <div id="wrapper">
            <?php include LAYOUTS.'header.phtml';?>
            <?= $this->layout ?>
            <?php //include LAYOUTS.'footer.phtml';?>
        </div>

        <!-- JavaScript -->
        <script src="/js/jquery/jquery.js"></script>
        <!--<script src="/js/bootstrap/bootstrap.js"></script>-->
        <?= $this->getAppendFiles() ?>
        <script>
            <?= $this->getAppendScripts() ?>
        </script>
    </body>
</html>