<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
    <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">Start Bootstrap</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="/">Main</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="/email">Email validation</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="/date">Date</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="/card">Card</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="/exponentiation">Exponentiation</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="/rsa">RSA</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="/page">Page</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="/user">User access</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="/rss">RSS</a>
                </li>
            </ul>
        </div>
    </div>
</nav>